body{
background-color: #010D1A;
background-size: cover;
background-repeat: no-repeat;
}
h1{ 
    color: antiquewhite;   
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h2{ height: 10px;
  font-size: medium;
  color: rgb(26, 201, 201);
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal
}
#vi{
height: 10px;
}
 div{
   margin: 200px 200px 200px 200px;
 }
button{
    margin: 10px;
padding: 7px; 
background-color: aqua;
font-size: medium;
color: rgb(0, 0, 0);
font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal
}
nav { 
      justify-content:flex-end ;
    align-items: flex-end;
    display: flex;
    flex-direction:  row-reverse;
   text-decoration: none;
   font-size: medium;
   font-family: "Source Code Pro", monospace;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal
}
nav a{
    font-size:large;
    text-decoration:none;
    color: #ffffff;
}
nav:hover{
    color: aqua;
}
#butt{

    
    border-radius: 5px;
}
i{
    margin: 7.5px;
    transform: scale(2);
    color: #1bfce9;
}
